* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contain {
  display: flex;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.sidebar {
  background-color: #151515;
  color: white;
  width: 200px;
  position: sticky;
  top: 0; /* Stick to the top */
  height: 100vh; /* Full height of viewport */
  overflow-y: auto; /* Add scroll to sidebar if content overflows */
}

/* .top_section {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 15px;
} */

.logo {
  font-size: 20px; /* Adjusted font size */
}

.bars {
  display: flex;
  font-size: 25px;
}

.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  gap: 15px;
  transition: all 0.3s;
}

.link:hover {
  background-color: lightskyblue;
  color: #151515;
}

.active {
  background-color: lightskyblue;
  color: #151515;
}

.icon, .link_text {
  font-size: 15px;
}

.icons {
  cursor: pointer;
}

/* .main {
  flex: 1; 
  padding: 10px;
  overflow-y: auto; 
} */
.no-outline-btn {
  border: none;
  outline: none;
  background-color: transparent; /* Optional: if you want no background */
  padding: 5; /* Optional: to remove padding if needed */
  color: #fff;
  transition: color 0.3s ease;
}
.nav-btton:hover {
  border: none;
  outline: none;
  color: #05b8ff; /* Change this to your desired hover color */
}

.Sline{
  color: #cfcfcf;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 1%;
  
}

/* .auth-background {
  background-image: url('./admin/image/background.jpg');
  background-size: cover;     
  background-position: center; 
  height: 100vh;              
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;             
} */

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
